.container {
  width: 50%;
  height: 341px;
  font: 16pt solid black;
  background-color: #d1caca;
  margin: auto;
  padding: 20px;
  border: 1px solid navy;
}
h1 {
  text-align: center;
}
ul {
  margin-block-start: 0, 5em;
  padding-inline-start: 5px;
}
li {
  padding: 10px;
  font-size: 16pt;
  background-color: #a9f2ae;
  height: 25px;
  list-style-type: none;
  border-bottom: 2px solid black;
}
ul :last-child {
  padding-top: 15px;
  font-size: 20pt;
}
